body{
    font-family:'Montserrat-Black';
}
#title{
    background-color: #4a4947;
    color:#fff;
}
h1{
    font-family:'Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

h2{
    font-family: 'Montserrat-Black';
    font-weight: bold;
    
}

h3{
    font-family: 'Montserrat-Black';
    font-weight: bold;
}

p{
    color: #8f8f8f ;
}
.container-fluid{
    padding: 3% 15% 7%;
}

/*navigation bar*/

.navbar-brand{
    font-family: 'ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.0rem;
    font-family: 'Montserrat-Black';
}

/*Download Button*/

.download_botton{
    margin: 5% 3% 5% 0;
}

/* Title Image*/

.iphone6{
    width: 60%;
    /*transform: rotate(0deg);*/
    position: absolute;
    right: 30%;
}

@media (max-width:1028px)

{
    .iphone6{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    .cardimg{
        width:100%;
        height: 20vw;
        object-fit: cover;
    
    }
}


/*feature section */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;

}
.features1{
    text-align: center;
    padding: 5%;
}
/*icon*/
.icon{
        color: #4a4947;
        margin-bottom: 1rem;
}
.icon:hover{
    color: black;
}


/*Testimonial section */

#testimonials{
   
    text-align: center;
    background-color:#4a4947 ;
    color: #fff;
}

.testimonioimmg{
    width: 100%;
    border-radius: 2%;
    margin: 2px;
}

/* press */

#press{
    background-color:#4a4947 ;
    text-align: center;
    padding-bottom: 3%;
}

/* templates */

#templates{
    padding: 3% 5%;
    background-color: #fff;
    position: relative;
}

.cardimg{
    width:100%;
    height: 15vw;
    object-fit: cover;

}

.featuresCard{
    text-align: center;
    padding: 1%;
    border-radius: 5%;
}


.pres-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

/*-- Pricing --*/

#pricing{
    text-align: center; 
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

/* bottom */

#cta{
    background-color: #ff4c68;
    padding: 10% 15%;
    text-align: center;
}
.cat_text{
    color: #fff;
}

/*<!-- Footer -->*/

#footer{
    padding: 7% 15%;
    text-align: center;
}
.fot_icon{
    padding: 5%;
}
/*
.foot{
    padding: % 15%;
}

